extends layout

block content
    form
      label(for='question' class='pollQuestion') Question
      input(type='text', name='question')
      label(for='answer1') Answer 1
      input(type='text', name='answer1')
      label(for='answer2') Answer 2
      input(type='text', name='answer2')
      button(type='submit' class='submitBtn') create