extends layout

block content
    .poll
      h1.titlePoll
      .poll1
        h2.result1 
        .square.green
          a.answer1(href='#') answer1
      .poll2
        h2.result2
        .square.blue
          a.answer2(href='#') answer2
